<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChessMaster - Real-time Chess Analysis</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="container">
        <div class="hero">
            <img src="../img/Image.png" alt="ChessMaster">
        </div>
        <div class="content">
            <h1>Welcome to ChessMaster</h1>
            <p>Real-time Game Analysis</p>
            <button id="startButton"><a href="home.html">Get Started</a></button>
        </div>
    </div>
    <script src="function/script.js"></script>
</body>
</html>
